{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">

            </div>
            <div class="col-sm-6 course_detail">
                <h1 style="padding:10px;text-align: center;border-bottom: 1px solid;border-top: 1px solid">{{ course.name }}</h1>
                <br><br><br>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Company</th>
                      <th scope="col">Status</th>
                      <th scope="col">Period</th>
                      <th scope="col">Start Date</th>
                      <th scope="col">End Date</th>
                      <th scope="col">Registered Students</th>
                      <th scope="col">Seats Left</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ course.provider }}</td>
                      <td>
                          {% if course.available %}
                              <span class="badge bg-success">Available</span>
                          {% else %}
                              <span class="badge bg-danger">Closed</span>
                          {% endif %}
                      </td>
                        <td>{{ course.period }}</td>
                        <td>{{ course.start_date }}</td>
                        <td>{{ course.end_date }}</td>
                        <td>{{ course.get_course_registered_students }}</td>
                        <td>{{ course.get_course_seats_left }}</td>
                    </tr>

                  </tbody>
                </table>
                <p class="text-center">
                  <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Show Brief
                  </button>
                </p>
                <div class="collapse" id="collapseExample">
                  <div class="card card-body" style="text-align: left">
                        <pre>{{ course.brief }}</pre>
                  </div>
                </div>
                <div style="margin-top:50px;" class="text-center">
                        {% if user.is_authenticated %}
                            {% if course.get_course_seats_left > 0 and user.count_trainings < 2 and user.count_trainings >= 0 %}
                                <button id="enroll" class="btn btn-success" onclick="enroll('{{ user.id }}', '{{ course.name }}')">Enroll</button>
                            {% endif %}
                      {% endif %}
                </div>
            </div>
            <div class="col-sm-3">

            </div>
        </div>
    </div>
    <script>
        function enroll(student_id, course_name){
            let url = "../../enroll/";
            fetch(url, {
                method: "POST",
                headers: {
                    "Content-type": "application/json",
                    "X-CSRFToken": csrftoken,
                },
                body: JSON.stringify({"course_name":course_name, "user_id":student_id}),
                })
                .then((response) => {
                    return response.json();
                })
                .then((data) => {
                    console.log(`Data: ${data}`)
                    if(data == false){
                        alert("You can't register more than 2 trainings, if you failed in one, contact instructor to let you retake or register a training.")
                    }
                    else if(data == null){
                        alert("You already registered this course.")
                    }
                    else{
                        total_user_registered_courses = document.getElementById("courses-total");
                        total_user_registered_courses.innerHTML = data
                    }
                })
            }

    </script>
{% endblock %}