{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <div class="container home_body" style="max-height: 100%">
        <h2 class="home_text_spacing">Want to always feel fair and helpful about your university trainings?</h2>
        <h3 class="home_text_spacing">Come on, and Join Us!</h3>
        <img  class="navbar-brand img-responsive img-responsive edit home_text_spacing" src="{% static 'icons/academy_logo.ico' %}" alt="Brand icon">

        <h4 class="home_text_spacing">“Learn as if you were not reaching your goal and as though you were scared of missing it”</h4>






    </div>
        <div style="height: 212px"></div>
    <!-- Footer -->
        <footer class="page-footer font-small stylish-color-dark pt-4">

          <!-- Footer Links -->
          <div class="container text-center text-md-left">

            <!-- Grid row -->
            <div class="row">
                <div class="col-md-4 mx-auto ">
                    <img class="navbar-brand img-responsive img-responsive edit" src="{% static 'images/logo.png' %}" alt="Brand icon">
                    <pre class="footer_text_color">El-Hadaba El-Wosta-Elmokattam
        - Close to Mokattam Central2 </pre>
                </div>
              <!-- Grid column -->
              <div class="col-md-4 mx-auto ">

                <!-- Content -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4 footer_text_color">Contact Us</h5>
                <p class="footer_text_color">Phone: <span>19049</span></p>
                  <p class="footer_text_color">Email: <span>info@eng.modern-academy.edu.eg</span></p>

              </div>
              <!-- Grid column -->


              <!-- Grid column -->
              <div class="col-md-4 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4 footer_text_color">Links</h5>

                <ul class="list-unstyled">
                  <li>
                    <a class="footer_text_color active" href="http://www.modern-academy.edu.eg/">MA Computer Science</a>
                  </li>
                  <li>
                    <a class="footer_text_color active"  href="http://eng.modern-academy.edu.eg/">MA Engineering</a>
                  </li>
                  <li>
                    <a class="footer_text_color active"  href="https://eng.synceg.net/">MA Moodle</a>
                  </li>
                </ul>

              </div>
              <!-- Grid column -->

            </div>
            <!-- Grid row -->

          </div>
          <!-- Footer Links -->

        </footer>
        <!-- Footer -->
{% endblock %}