{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block content %}
    <div class="container">
    <h1 style="padding:10px;text-align: center;border-bottom: 1px solid;border-top: 1px solid">Edit '{{ course_name }}' of '{{ student_name }}'</h1>
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form student_course_form %}
        <input class="btn btn-secondary" value="Edit Student Course" type="submit">
    </form>
    {% include 'messages.html' %}
    </div>
{% endblock %}