{% extends 'index.html' %}
    <head>

            <title>Home</title>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>


            <link href="https://fonts.googleapis.com/css?family=Montserrat|Russo+One" rel="stylesheet">
        </head>
    {% block body_block %}
    <body style="color:dodgerblue;text-align: center;margin: 20px">
        {# first step of resetting password #}
        <h1 style="font-weight: bold;margin: 30px;">Password Reset:</h1>
        <p style="font-size: 23px;margin: 30px;padding: 10px;">Enter your Email Address below, instructions to reset your password will be sent to your email.</p>

            <form method="POST"> {# form for entering email address to send emails to .. #}
            {% csrf_token %}

            <p style="margin-right: 15px;margin-top: 60px;">{{ form.email }}</p>
            <input style="margin-right: 15px;" type="submit" class="btn btn-primary" value="Send email">
        </form>



    </body>
    {% endblock %}


