{# No need to extend anything, this page is indepandant #}
<!DOCTYPE html>
<html lang="en-US">
    <head>

            <title>Home</title>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>


            <link href="https://fonts.googleapis.com/css?family=Montserrat|Russo+One" rel="stylesheet">
        </head>
        {# Third step of resetting password, displaying a form for entering new password #}
    <body style="color:dodgerblue;text-align: center;margin: 20px">
    <h1 style="font-weight: bold;margin: 30px;">Change password:</h1>
        <div style="margin:20px;">
    <form method="POST">
        {% csrf_token %}
        <p>{{ form.new_password1 }}</p>
        <p>{{ form.new_password1.help_text }}</p>
        <p>{{ form.new_password2 }}</p>
        <input style="color:white;" type="submit" class="btn btn-primary" value="Change password">
    </form>
        </div>
    </body>
</html>
