
{% extends 'index.html' %} 
{# Importing the navbar only, this is the last finishing step of resetting the password where a user will need a link to enter #}
{# that's why the navbar is imported where'll be 'Home' 'Login' 'Register' #}
{% block body_block %}
    <div style="text-align: center;color:dodgerblue;margin: 20px;">
    <h1 style="font-weight: bold;padding: 10px;">Password reset completed!</h1>
    <p style="font-size: 22px;padding: 10px;">Your new password has been set.</p>
    </div>
{% endblock %}
