{# No imports, this page is independant #}
<!DOCTYPE html>
<html>

    <head>
        <title>Home</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>


        <link href="https://fonts.googleapis.com/css?family=Montserrat|Russo+One" rel="stylesheet">
    </head>
    {# Second step of resetting password: displaying a message that an email sent to the user's email address #}
    <body style="color:dodgerblue;text-align: center;margin: 20px">
        <div style="margin: 20px;padding: 20px;">
        <h1 style="margin: 20px;padding: 20px;font-weight: bold;">Password reset email sent!</h1>
        <p style="margin: 20px;font-size: 22px;" >Please check your email, Check in the junks if you haven't found our email.</p>
        <p style="margin: 20px;font-size: 22px;">Also, Check if you provided us an active email address.</p>
        </div>
    </body>
</html>

