{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Course</th>
                      <th scope="col">Company</th>
                      <th scope="col">Status</th>
                      <th scope="col">Period</th>
                      <th scope="col">Start Date</th>
                      <th scope="col">End Date</th>
                      <th scope="col">Details</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for company_course in company_courses %}
                    <tr>
                      <th scope="row">{{ company_course.id }}</th>
                      <td>{{ company_course.name }}</td>
                      <td>{{ company_course.provider }}</td>
                      <td>
                          {% if company_course.available %}
                              <span class="badge bg-success">Available</span>
                          {% else %}
                              <span class="badge bg-danger">Closed</span>
                          {% endif %}
                      </td>
                        <td>{{ company_course.period }}</td>
                        <td>{{ company_course.start_date }}</td>
                        <td>{{ company_course.end_date }}</td>
                        <td><a class="btn btn-secondary" href="{% url 'dashboard:course_detail' course_name=company_course.name %}">Show Course</a></td>
                    </tr>

                  {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}